<h1>Hey <%= @employee1.name %> and <%= @employee2.name %>!</h1>
<p>
  You two have been paired up for Coffee Roulette this month! Get in touch with together ASAP and find a half hour chunk of time where the two of you can take a quick break from the usual day to day and spend some time getting to know each other a little better!
</p>
