<h1>Hey <%= @employee1.name%>, <%= @employee2.name %>, and <%= @employee3.name %>!</h1>
<p>
  You three have been grouped for Coffee Roulette this month! Get in touch with each other ASAP and find a half hour chunk of time where the two of you can take a quick break from the usual day to day and spend some time getting to know one other a little better! 
</p>
