<h1>Hey <%= @employee1.name%>, <%= @employee2.name %>, and <%= @employee3.name %>!</h1>
<p>
  You three have been grouped together Coffee Roulette this month! Get in touch with each other and find a half hour chunk of time where the three of you can take a break and get to know each other a little better.
</p>
