<% if @employee3 %>
  <%= render partial: 'trio_message' %>
<% else %>
  <%= render partial: 'pair_message' %>
<% end %>
<p>
  This can be something like grabbing coffee together, jumping on a hangout call, going for a walk outside to see the statue of liberty, doing some arts and crafts, or really anything else you want to do.
</p>
<h3>What is Coffee Roulette?</h3>
<p>
  Coffee Roulette is an initiative put together by Culture Club’s Operation Butterfly to help the Flatiron School with cross team socialization. As Flatiron School grows, it can be hard to establish relationships with people in other departments. The idea here is to take a little time out of the month to chat with someone you normally would not get a chance to, get to know them and what they’re currently working on, and to have fun!
</p>
<p>
  If you have any questions, comments, or if you’d like to help us improve cross team socialization, join #operation-butterfly on slack!
</p>

<img src="http://i.giphy.com/42YlR8u9gV5Cw.gif" alt="" />
